@import 'default.css';

/* applying the default styling to all html elements */
body {
  background-color: var(--black);
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

/* HERO SECTION */
.hero_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),
    url("../media/about_us.jpg") center center;
  background-size: cover;
  height: 50vh;
}

/* changing the color of the heading text */
.hero_container h1 {
  color: var(--gold);
  margin: 0;
  padding: 2vw;
  font-size: 7vw;
}

/* changing the color of the subheading text */
.hero_container a {
  padding-top: 2vw;
}

/* WHO ARE WE SECTION */
.who_are_we {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  color: var(--gold);
  padding: 2vw;
  font-size: 2vw;
  text-align: center;
}


.who_are_we h2 {
  margin: 0;
}

/* OUR CHARITY SECTION */
.our_charity {
  display: flex;
  align-items: center;
  background-color: var(--orange);
  color: var(--black);
  padding: 2vw;
  font-size: 1.5vw;
  text-align: center;
}

.our_charity img {
  height: 30vw;
}

.our_mission {
  padding: 2vw;
}
