:root{
  --green: #d0e37fff;
  --brown: #4f3824ff;
  --orange: #d1603dff;
  --gold: #ddb967ff;
  --black: #221d23ff;
}

h1 {
  font-family: "Platypi", serif;
  font-weight: 700;
  color: var(--green);
}

/* footer section */
hr {
  color: var(--accent-color);
  margin: 0 2vw 2vh 2vw;
}

.footer_container {
  background-color: var(--orange);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_container a {
  text-decoration: none;
  color: var(--black);
}

.footer_container p {
  color: var(--black);
  font-size: 16px;
}

.socials {
  display: flex;
  padding: 2vh;
}

.sites {
  color: var(--black);
  padding: 2vh;
}

