/* css/default.css */
/* This is the default css file. */
/* which will be imported into all other css files. */
/* It contains the default values for all other css files. */

/* this root block is used to set the color variables  */
:root{
  --green: #d0e37fff;
  --accent-color: #d0e37fff;
  --brown: #4f3824ff;
  --orange: #d1603dff;
  --gold: #ddb967ff;
  --black: #221d23ff;
}

/* applying the default styling to all html elements */
body {
  font-family: "Platypi", serif;
  margin: 0;
  padding: 0;
  color: var(--gold);
  overflow-x: hidden;
}

h1 {
  font-family: "Platypi", serif;
  font-weight: 700;
  color: var(--green);
}

/* heading text for the hero section */
.hero_container .heading_text {
  font-family: "Platypi", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3vw;
  padding: 0 0 0 10vw;
}

/* NAVBAR SECTION */
/* as the navbar is same in all of the pages it will be in the default file */

/* general navbar making it stuck on top */
nav {
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  height: 5vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  z-index: 999;
}

/* general styling for most of the buttons in the website */
/* it is here as to make sure the buttons feel consistent */
.btn {
  text-align: center;
  text-decoration: none;
  font-size: 2vw;
  padding: 0 2vw 0 2vw;
  color: var(--green);
  transition: all ease-in-out 0.3s;
}

/* changing color on hover */
.btn:hover {
  color: white;
}

/* padding for the left and right half of the navbar */
.left_half {
  padding-left: 3vw;
}

.right_half {
  padding-right: 3vw;
}

/* reading progress bar */
.reading-progress {
  position: fixed;
  top: 5vh; 
  width: 100%;
  height: 2px;
  transition: width .5s ease-in-out;
}

.reading-progress-bar {
  background-color: var(--green);
  height: 100%; /* Fills container height */
  transition: width .2s ease-in-out; 
}

/* FOOTER CONTAINER */
/* as the footer is same in all of the pages it will be in the default file */
.footer_container {
  background-color: var(--brown);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_container a {
  text-decoration: none;
  color: var(--gold);
}

.footer_container p {
  color: var(--gold);
  font-size: 16px;
}

.socials {
  display: flex;
  padding: 2vh;
}

.sites {
  color: var(--gold);
  padding: 2vh;
}

