@import 'default.css';

/* applying the default styling to all html elements */
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: var(--black);
}

/* HERO SECTION */
.hero_container {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),
    url("../media/donate.jpg") center center;
  background-size: cover;
  padding: 2vw;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

.hero_container h1 {
  /* setting margin 0 again because h1 and h2 has inbuilt margin */
  margin: 0;
  font-size: 5vw;
  padding: 2vw;
  color: var(--gold);
}

.hero_container h2 {
  /* setting margin 0 again because h1 and h2 has inbuilt margin */
  margin: 0;
  font-size: 4vw;
  padding: 2vw;
  color: var(--gold);
}

.hero_container a {
  font-size: 5vw;
  padding: 0;
  margin: 2vw;
}

/* SUBHEADING SECTION */
.subheading_container {
  padding: 2vw;
  font-size: 2vw;
  text-align: center;
  color: var(--black);
  background-color: var(--orange);
}

/* MIDDLE SECTION */
.middle_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle_container img {
  height: 40vh;
  padding: 2vw;
}

.middle_container .text {
  padding: 2vw;
}

.middle_container p {
  font-size: 3vw;
}

.middle_container ul {
  list-style-type: disclosure-closed;
}

.middle_container li {
  font-size: 2vw;
  margin-left: 1vw;
}

/* DONATE SECTION */
.donate {
  background-color: var(--gold);
  padding: 2vw;
  display: flex;
  justify-content: space-evenly;
}

.donate h2 {
  font-size: 2.5vw;
  color: var(--black);
}

.donate ul {
  padding: 0 0 1vw;
}


.donate li {
  color: var(--black);
  font-size: 1.8vw;
  margin: 0 0 0 4vw;
}

/* styling the payment form */
.donate .payment{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.donate h3 {
  font-size: 2.5vw;
  color: var(--black);
}

/* styling the payment input */
.payment input {
  width: 15vw;
  background-color: var(--gold);
  border: 1px solid var(--black);
  border-radius: 5px;
  text-align: center;
  font-size: 2vw;
  color: var(--black);
}

.payment a {
  margin-top: 3vh;
  padding: 1vh 1vw 0.7vh 1vw;
  border-radius: 10px;
  color: var(--brown);
  border: 1px solid var(--brown);
}

.payment a:hover {
  background-color: var(--brown);
}
