@import 'default.css';

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: var(--black);
}

.hero_container {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),
    url("../media/donate.jpg") center center;
  background-size: cover;
  padding: 2vw;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

.hero_container h1 {
  /* setting margin 0 again because h1 and h2 has inbuilt margin */
  margin: 0;
  font-size: 5vw;
  padding: 2vw;
  color: var(--gold);
  /* text-decoration: none; */
}

.hero_container h2 {
  /* setting margin 0 again because h1 and h2 has inbuilt margin */
  margin: 0;
  font-size: 3vw;
  padding: 2vw;
  color: var(--gold);
  /* text-decoration: none; */
}

.hero_container a {
  font-size: 5vw;
  padding: 0;
  margin: 2vw;
}

.subheading_container {
  padding: 2vw;
  font-size: 2vw;
  text-align: center;
}
.mid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mid ul {
  padding: 0 0 1vw;
}

.mid li {
  font-size: 1.5vw;
  margin: 0 0 0 4vw;
}

.donate {
  padding: 2vw;
  display: flex;
  justify-content: space-around;
}

.donate ul {
  padding: 0 0 1vw;
}


.donate li {
  font-size: 1.5vw;
  margin: 0 0 0 4vw;
}
