@import 'default.css';

* {
  margin: 0;
  padding: 0;
}


body {
  background-color: var(--black);
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  color: var(--gold);
  overflow-x: hidden;
}

.hero_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../media/events.jpg") center center;
  background-size: cover;
}

.main_heading {
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 8vw;
  color: var(--gold);
  padding: 11vh 0 0 10vw;
}

.hero_container .buttons {
  padding: 4vh 0 0 10vw;
}

.hero_container .btn {
  padding: 0 2vw 0 0;
}


.top {
  display: flex;
}

.why_events {
  padding: 2vw;
}

.why_events {
 font-size: 1.7vw; 
}

.why_events ul {
  color: var(--green);
  font-size: 1.4vw;
  padding-left: 3vh;
}

.main_image img {
  padding: 2vw;
  height: 40vh;
}

.events_goal {
  background-color: var(--brown);
  text-align: center;
  color: var(--gold);
  padding: 3vw;
  font-size: 1.7vw;
}
