@import 'default.css';
@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

/* applying the default styling to all html elements */
body {
  font-family: "Platypi", serif;
  margin: 0;
  padding: 0;
  color: var(--gold);
  overflow-x: hidden;
}

/* HERO SECTION */
.hero_container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../media/library-book-bookshelf-read.jpg") center center;
  background-size: cover;
  overflow: hidden;
  top: 0;
  top: 0;
}

/* styling the heading text */
.platypi_bookminds {
  font-family: "Platypi", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 8vw;
  padding: 11vh 0 0 10vw;
}

/* styling the heading text */
.hero_container .heading_text {
  font-family: "Platypi", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2vw;
  padding: 3vh 0 0 10vw;
}

/* styling the main button */
.main_btn{
  width: fit-content;
  text-decoration: none;
  color: white;
  font-size: 2vw;
  margin: 2vh 0 0 0;
  font-family: "Platypi", serif;
  font-weight: 300;
}

.main_btn:hover {
  color: var(--green);
  background-color: var(--)
}


/* styling the donate button */
.donate_btn{
  color: white;
  font-size: 5vw;
  padding: 3vh 0 0 10vw;
  font-family: "Platypi", serif;
  font-weight: 900;
}

.donate_btn:hover {
  color: var(--green);
  background-color: var(--)
}

/* subheading section */
.subheading_container {
  display: flex;
  align-items: center;
  height: 55vh;
  background-color: var(--black);
}

/* styling the subheading text */
.subheading_text {
  display: flex;
  flex-direction: column;
  padding: 0 2vw;
  font-size: 1.7vw;
}

/* styling the subheading heading */
.subheading_text h1 {
  margin: 0;
  padding-bottom: 2vw;
}

/* styling the subheading image */
.subheading_container img {
  height: 40vh;
  padding: 2vw;
}

/* QUOTES SECTION */
.quotes_container {
  background-color: var(--gold);
  display: flex;
  align-items: center;
  width: 100vw; 
  height: 40vh;
  overflow: hidden;
}

.quotes_container .quote {
  animation: marquee 20s linear infinite; /* Animation properties */
  width: 280vw;
  padding: 0 2vw 0 2vw;
  font-size: 2vw;
  /* Content width exceeds container */
  /* width: fit-content; */
  /* Remove margin */
  /* margin: 0; */
  /* Optional text color */
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

/* styling the quote text */
.quote_text {
  color: var(--black);
  width: 40vw;
  text-align: center;
}

/* styling the quote author */
.quote_author {
  color: var(--black);
  font-style: oblique;
}

/* ANIMATION */
@keyframes marquee {
  0% { transform: translateX(100%); } /* Start from right side */
 100% { transform: translateX(-100%); } /* Scroll to left side */
}

/* WHY WE LOVE READING SECTION */
.why_we_love_reading {
  background-color: var(--black);
  height: 60vh;
  display: flex;
  align-items: center;
}

.why_we_love_reading img {
  padding: 2vw;
}

/* styling the content */
.why_we_love_reading .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why_we_love_reading .content p {
  padding: 2vw;
  font-size: 1.4vw;
}

.why_we_love_reading img {
  height: 40vh;
}

