@import 'default.css';
@import 'navbar.css';
@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

body {
  margin: 0;
  padding: 0;
  color: var(--gold);
  overflow-x: hidden;
}

.hero_container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../media/library-book-bookshelf-read.jpg") center center;
  background-size: cover;
  overflow: hidden;
  top: 0;
  /* position: absolute; */
  top: 0;
}

.platypi_bookminds {
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 8vw;
  padding: 11vh 0 0 10vw;
}

.hero_container .heading_text {
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2vw;
  padding: 3vh 0 0 10vw;
}

.main_btn{
  width: fit-content;
  text-decoration: none;
  color: white;
  font-size: 2vw;
  margin: 5vh 0 0 5vw;
  font-family: "Platypi", serif;
  font-weight: 300;
}

.main_btn:hover {
  color: var(--green);
  background-color: var(--)
}


.donate_btn{
  color: white;
  font-size: 5vw;
  padding: 3vh 0 0 10vw;
  font-family: "Platypi", serif;
  font-weight: 900;
}

.donate_btn:hover {
  color: var(--green);
  background-color: var(--)
}

.subheading_container {
  display: flex;
  height: 40vh;
  background-color: var(--black);
}

.subheading_text {
  display: flex;
  flex-direction: column;
  padding: 4vw;
  font-size: 1.7vw;
}

.subheading_container img {
  height: 40vh;
}

.quotes_container {
  display: flex;
  align-items: center;
  width: 100vw; /* Adjust width as needed */
  height: 40vh;
  overflow: hidden;
  white-space: nowrap; /* Prevent line breaks */
  margin: 10px; /* Optional margin */
}

.quotes_container .quote {
  animation: marquee 20s linear infinite; /* Animation properties */
  width: fit-content; /* Content width exceeds container */
  margin: 0; /* Remove margin */
  color: #fff; /* Optional text color */
}

.quote {
  padding: 0 2vw 0 2vw;
  font-size: 2vw;
}


@keyframes marquee {
  0% { transform: translateX(100%); } /* Start from right side */
 100% { transform: translateX(-100%); } /* Scroll to left side */
}

.why_we_love_reading {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why_we_love_reading .content {
  display: flex;
  align-items: center;
}

.why_we_love_reading .content p {
  padding: 2vw;
  font-size: 1.4vw;
}

.why_we_love_reading img {
  height: 40vh;
}
















