@import 'default.css';

/* styling the background color */
body {
  background-color: var(--black);
}

/* HERO SECTION */
.hero_container {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),
    url("../media/resources.jpg") center center;
  background-size: cover;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

.hero_container a {
  padding: 0 0 4vw 10vw;
}

/* SUBHEADING SECTION */
.subheading_container {
  background-color: var(--black);
  display: flex;
  height: 17vh;
  font-size: 2vw;
  align-items: center;
  justify-content: center;
}

/* styling the subheading link */
.subheading_container a {
  text-decoration: underline;
  color: var(--gold);
  transition: color .2s ease-in-out;
}

.subheading_container a:hover {
  color: white;
}

/* GETTING STARTED SECTION */
.getting_started {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2vw;
  background-color: var(--brown);
}

/* styling the getting started text */
.getting_started_text {
  padding: 2vw;
  font-size: 2vw;
  color: var(--green);
}

.getting_started img {
  height: 40vh;
}

/* RECOMMENDATIONS SECTION */
.recommendations {
  font-size: 2vw;
  display: flex;
  background-color: var(--black);
  flex-direction: column;
  align-items: center;
  padding: 1.6vw;
}

td {
  text-align: center;
}

table {
  width: 90%;
}

table img {
  height: 20vw;
}

.checked {
  color: orange;
}

hr {
  width: 90%;
  border: 1px solid var(--gold);
}

/* RESOURCES SECTION */
.resources {
  padding: 2vw;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
}

.resources td {
  padding: 1vw;
}

/* styling the resources link */
.resources a {
  text-decoration: none;
  color: var(--gold);
  transition: hover .2s ease-in-out;
}

.resources a:hover {
  text-decoration: underline;
}
